.star{
  height: 40px;
  width: 40px ;
}

.container-startOption{
  text-align: center;
  display: flex;
  align-items: center;
}

.star-rating-filled {
    fill: var(--amarillo);
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    transition: transform .2s; 
    height: 30px;
  }
  
  .star-rating-blank {
    fill: #d8d8d8;
    height: 30px;
  }
  
  .star-rating-filled:hover {
    height: 30px;
    transform: scale(1.2); 
}



