.container-categories {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}

.title-categories {
  color: var(--negro);
  font-size: 24px;
  font-weight: 600;
  padding: 10px 20px;
}

.categories-list {
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  list-style: none;
  padding: 1rem;
  gap: 26px;
}

/* Responsive TABLET */
@media (max-width: 768px) {
  .categories-list {
    padding-left: 20px;
  }
}
