.container-buttons-menu{
    display: flex;
    flex-direction: column;
    width: 95%;
    align-self: center;
    text-align: end;
    margin-top: 5px;
}

.container-buttons-menu2{
    display: flex;
    justify-content: flex-end;
    margin: 10px 5px;
}

.hamburger-link {
    margin: 15px 0;
    padding-right: 5px;
    text-decoration: none;
    color: var(--negro);
    font-weight: 500;
}

.text-wish{
    margin: 2px;
    font-size: 12px;
}

.text-log-out{
    color: var(--amarillo);
    margin: 2px;
    font-size: 12px;
}
