.container-user-profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 80%;
    align-self: center;
}

.user-profile-picture {
    padding: 0 10px;
    cursor: pointer;
}

.user-initials {
    border-radius: 50%;
    background-color: var(--gris);
    padding: 8px 12px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}

.container-username {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.container-username > div{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.container-username > div > span{
    display: flex;
    align-items: center;
}

.user-hi {
    color: var(--gris);
    font-size: 20px;
    font-weight: 500;
}

.user-name {
    color: var(--amarillo);
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.user-exit {
    color: var(--gris);
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
}

.administration{
    color: var(--gris);
    border-right: 2px solid var(--amarillo);
    padding: 1rem;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.administration > a{
    text-decoration: none;
    cursor: pointer;
    color: var(--gris);
}

@media (max-width: 514px) {
    .container-username{
        /* padding: 0 10px 0 0; */
        margin: 0;
    }   
    .container-logo-dh{
        gap: 5px;
        padding: 1rem 0 0 1rem;
    }
    .user-hi {
        font-size: 18px;
    }
    .user-name {
        font-size: 18px;
    }

    .administration{
        border: 0;
        padding: 0;
    }
    .administration > a{
        font-size: 12px;
    }
}
