<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
</head>
<body>

<img src="https://s3-grupo10.s3.us-west-2.amazonaws.com/images/project/logo/logo_bookingdh.jpg">
<h1 style="font-family: Calibri;
  font-weight:800;">Hola  <span style="color: #607D8B">${name} ${surname}</span></h1>

<p style = "font-size:22px;
   font-family: Calibri;
   margin: 4px;
text-align:justify;
margin-bottom: 25px;
">
  Lamentamos que tengas problemas para iniciar sesión en Digital Booking.
  Hemos recibido un mensaje conforme has olvidado tu contraseña.
  Si has sido tú, puedes recuperar el acceso a tu cuenta o cambiar la contraseña ahora.</p>

<a style="
font-size:22px;
font-family: Calibri;
text-decoration:none;
background-color: #FBC02D;
color: white;
padding: 10px;
border-radius: 5px;
cursor:pointer;
margin-bottom: 25px;

" href="${link}">Recuperar Contraseña</a>

<p style = "font-size:20px;
   font-family: Calibri;
   margin: 4px;
text-align:justify;
margin-bottom: 25px;
margin-top:25px;
">Si no has solicitado un enlace de inicio de sesión o un cambio de contraseña,
  puedes ignorar este mensaje y obtener más información sobre los motivos por los que has podido recibirlo.
</p>
<p style = "font-size:20px;
   font-family: Calibri;
   margin: 4px;
text-align:justify;
margin-bottom: 25px;
">
  Solamente las personas que conozcan tu contraseña de Digital Booking o hagan clic en el enlace de inicio de sesión que se incluye en este mensaje
  podrán iniciar sesión en tu cuenta.
</p>
</body>
</html>