<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
</head>
<body>

<img src="https://s3-grupo10.s3.us-west-2.amazonaws.com/images/project/logo/logo_bookingdh.jpg">

<h1 style="font-family: Calibri;
font-weight:800;">Hola  <span style="color: #607D8B">${name} ${surname}</span></h1>

<p style = "font-size:22px;
   font-family: Calibri;
   margin: 4px;
margin-bottom:35px;">¡Enhorabuena! Has cambiado tu contraseña para ingresar a Digital Booking.</p>

<a style="
font-size:22px;
font-family: Calibri;
text-decoration:none;
background-color: #FBC02D;
color: white;
padding: 10px;
border-radius: 5px;
cursor:pointer;
"
   href="${link}">Vamos a Digital Booking</a>

</body>
</html>